# MONGODB
MONGODB_URI=
JWT_SECRET=mysecretkey
JWT_REFRESH_SECRET=myrefreshsecretkey
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=120m

# Cloud
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_BUCKET=
DO_SPACES_ENDPOINT=
ISSUE_PREFIX=ocr-services/subId/issue_images/process/
PROCESS_PREFIX=ocr-services/subId/process/

# CORS
# ENV=production
PORT=5167
FRONTEND_ORIGIN=

# Web = http://localhost:5173/
# Api = http://localhost:5167/api/v1